/* Bill.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid rgb(9, 8, 8);
    background-color: #b96e13   ;
  }
 
  
  .text-white {
    color: #fff;
  }
  
  .text-gray-300 {
    color: #d1d5db;
  }
  
  .bg-gray-50 {
    background-color: #f9fafb;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .bg-red-400 {
    background-color: #f87171;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-3xl {
    font-size: 2rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .m-4 {
    margin: 1rem;
  }
  
  .mt-6 {
    margin-top: 1.5rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .p-0 {
    padding: 0;
  }
  
  .p-5 {
    padding: 1.25rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  
  
  .w-full {
    width: 100%;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .col-span-8 {
    grid-column: span 8 / span 8;
  }
  
  .col-span-4 {
    grid-column: span 4 / span 4;
  }
  
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  
  .my-3 {
    margin: 0.75rem 0;
  }
  
  .my-5 {
    margin: 1.25rem 0;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  .mr-28 {
    margin-right: 7rem;
  }
  
  .table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: left;
  }
  
  .table th {
    background-color: #f9fafb;
  }
  
  .table td {
    background-color: #ffffff;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
  }
  
  button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Form radio button styles */
  input[type="radio"] {
    margin-right: 0.5rem;
  }
  